In [36]:
!git clone https://github.com/Bungeetech/internship-test2.git

Cloning into 'internship-test2'...
remote: Enumerating objects: 26, done.
remote: Counting objects: 100% (7/7), done.
remote: Compressing objects: 100% (7/7), done.
remote: Total 26 (delta 2), reused 0 (delta 0), pack-reused 19
Unpacking objects: 100% (26/26), done.

In [46]:
import pandas as pd

## Question 1

In [47]:
df = pd.read_csv('/content/internship-test2/input/question-1/main.csv')
df.head()

,product_code,product_description,product_group,sales_date,price,sales_quantity,unit
0,1001,tomato,vegetable,2021-11-01,2.99,36,kg
1,1001,tomato,vegetable,2021-11-02,2.99,23,kg
2,1001,tomato,vegetable,2021-11-03,2.99,34,kg
3,1001,tomato,vegetable,2021-11-04,2.99,23,kg
4,1001,tomato,vegetable,2021-11-05,2.99,34,kg

In [48]:
df['price_new'] = df['price'].fillna(df.groupby('product_description')['price'].transform('mean'))
df.head()

,product_code,product_description,product_group,sales_date,price,sales_quantity,unit,price_new
0,1001,tomato,vegetable,2021-11-01,2.99,36,kg,2.99
1,1001,tomato,vegetable,2021-11-02,2.99,23,kg,2.99
2,1001,tomato,vegetable,2021-11-03,2.99,34,kg,2.99
3,1001,tomato,vegetable,2021-11-04,2.99,23,kg,2.99
4,1001,tomato,vegetable,2021-11-05,2.99,34,kg,2.99

In [49]:
df.to_csv('/content/internship-test2/output/answer-1/main.csv', index=False)

## Question 2

In [50]:
df = pd.read_csv('/content/internship-test2/input/question-2/main.csv')
df.head()

,product_code,product_description,product_group,sales_date,price,sales_quantity,unit
0,1001,tomato,vegetable,2021-11-01,2.99,36,kg
1,1001,tomato,vegetable,2021-11-02,2.99,23,kg
2,1001,tomato,vegetable,2021-11-03,2.99,34,kg
3,1001,tomato,vegetable,2021-11-04,2.99,23,kg
4,1001,tomato,vegetable,2021-11-05,2.99,34,kg

In [51]:
df["sales_amount"]=df["sales_quantity"].where(df["unit"] !="pcs",df["product_description"].str.split("-",expand=True)[1].astype("float") *
df["sales_quantity"])
df.head()

,product_code,product_description,product_group,sales_date,price,sales_quantity,unit,sales_amount
0,1001,tomato,vegetable,2021-11-01,2.99,36,kg,36.0
1,1001,tomato,vegetable,2021-11-02,2.99,23,kg,23.0
2,1001,tomato,vegetable,2021-11-03,2.99,34,kg,34.0
3,1001,tomato,vegetable,2021-11-04,2.99,23,kg,23.0
4,1001,tomato,vegetable,2021-11-05,2.99,34,kg,34.0

In [52]:
df.to_csv('/content/internship-test2/output/answer-2/main.csv', index=False)

## Question 3

In [53]:
df = pd.read_csv('/content/internship-test2/input/question-3/main.csv')
df.head()

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
0,Croatia,4,13,12,51.9%,16.0%,32,0,0,0,...,13,81.3%,41,62,2,9,0,9,9,16
1,Czech Republic,4,13,18,41.9%,12.9%,39,0,0,0,...,9,60.1%,53,73,8,7,0,11,11,19
2,Denmark,4,10,10,50.0%,20.0%,27,1,0,0,...,10,66.7%,25,38,8,4,0,7,7,15
3,England,5,11,18,50.0%,17.2%,40,0,0,0,...,22,88.1%,43,45,6,5,0,11,11,16
4,France,3,22,24,37.9%,6.5%,65,1,0,0,...,6,54.6%,36,51,5,6,0,11,11,19

In [56]:
df = df.sort_values(by=['Red Cards', 'Yellow Cards'])
df.head()

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
2,Denmark,4,10,10,50.0%,20.0%,27,1,0,0,...,10,66.7%,25,38,8,4,0,7,7,15
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,10,62.6%,63,49,12,4,0,15,15,17
3,England,5,11,18,50.0%,17.2%,40,0,0,0,...,22,88.1%,43,45,6,5,0,11,11,16
8,Netherlands,2,12,36,25.0%,4.1%,60,2,0,0,...,12,70.6%,35,30,3,5,0,7,7,15
15,Ukraine,2,7,26,21.2%,6.0%,38,0,0,0,...,13,76.5%,48,31,4,5,0,9,9,18

In [57]:
df.to_csv('/content/internship-test2/output/answer-3/main.csv', index=False)